h1 {
  background: #e6ebed;
  font-weight: bold;
  text-align: center;
}
div.row {
  padding: 5px;
  background: white;
  border-bottom: 2px dotted #e6ebed;
}
div.row:nth-child(odd) {
  padding: 5px;
  background: #F9F9F9;
}
div.row:hover {
  background: #e6ebed;
}
.trip-start-end {
}
.trip-intermediate-stop {
  margin-left: 10px;
  color: gray;
}
div.part-trip {
  margin: 4px auto;
}
.product {
  padding: 4px;
  margin: 4px;
}
.product-walk {
  color: black;
  background: #ffec00;
  /* border: 1px solid #ff6f00; */
}
.product-bus {
  color: white;
  background: #a5037c;
}
.product-re {
  color: white;
  background: #e2001a;
}
.product-sbahn {
  color: white;
  background: #008c4f;
}
.product-u {
  color: white;
  background: #0066ac;
}
.product-unknown {
  color: black;
  background: white;
}
.duration {
  line-height: 50px;
}

.delay-on-time {
  color: green;
  padding: 2px;
}
.delay-delayed {
  color: white;
  background: #de1616;
  border-radius: 100px;
  padding: 2px;
}
footer {
  text-align: right;
  font-size: 0.8em;
}
