div.row {
  margin: 15px auto;
  padding: 5px;
  background: #F5F5F5;
}
div.part-trip {
  margin-bottom: 8px;
}
.product {
  padding: 8px;
  margin: 4px;
  line-height: 50px;
}
.product-walk {
  color: black;
  background: #ffec00;
  /* border: 1px solid #ff6f00; */
}
.product-bus {
  color: white;
  background: #a5037c;
}
.product-re {
  color: white;
  background: #e2001a;
}
.product-sbahn {
  color: white;
  background: #008c4f;
}
.product-u {
  color: white;
  background: #0066ac;
}
.product-unknown {
  color: black;
  background: white;
}
.duration {
  line-height: 50px;
}
