<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ from_station }} to {{ to_station }}</title>
	<meta name="description" content="Simple VBB">
	<meta name="author" content="Stefan Bunk">
	<link rel="stylesheet" href="/static/style/normalize.css">
	<link rel="stylesheet" href="/static/style/skeleton.css">
	<link rel="stylesheet" href="/static/style/simple_vbb.css">
	<link rel="icon" href="/static/favicon.png" type="image/png">
	<!-- <script src="/static/js/scripts.js"></script> -->
</head>
<body>
	<div class="container">
		<h1>{{ from_station }} ➜ {{ to_station }}</h1>
		{% for trip in trips %}
			<div class="row">
				<div class="five columns">
					{% for leg in trip["LegList"]["Leg"] %}
						{% if leg["type"] == "JNY" or loop.first or loop.last %}
							<div class="part-trip">
								{% if loop.first %}
									<span class="trip-start-end">{{ leg["Origin"]["name"] }}</span>
								{% else %}
									<span class="trip-intermediate-stop">{{ leg["Origin"]["name"] }}</span>
								{% endif %}
								<br>
								{% if loop.last %}
									<span class="trip-start-end">{{ leg["Destination"]["name"] }}</span>
								{% else %}
									<span class="trip-intermediate-stop">{{ leg["Destination"]["name"] }}</span>
								{% endif %}
								<br>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="two columns">
					{% for leg in trip["LegList"]["Leg"] %}
						{% if leg["type"] == "JNY" or loop.first or loop.last %}
							<div class="part-trip">
								{{ leg["Origin"]["time"] }}
								{% if leg["Origin"]["delay"] != None %}
									{% if leg["Origin"]["delay"] == 0 %}
										<span class="delay-on-time">◉</span>
									{% else %}
										<span class="delay-delayed">{{ "%+d" | format(leg["Origin"]["delay"]) }}</span>
									{% endif %}
								{% endif %}
								<br>
								{{ leg["Destination"]["time"] }}
								{% if leg["Destination"]["delay"] != None %}
									{% if leg["Destination"]["delay"] == 0 %}
										<span class="delay-on-time">◉</span>
										<!-- <span class="delay-on-time">±0</span> -->
									{% else %}
										<span class="delay-delayed">{{ "%+d" | format(leg["Destination"]["delay"]) }}</span>
									{% endif %}
								{% endif %}
								<br>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="three columns trip-products">
					{% for leg in trip["LegList"]["Leg"] %}
						{% if leg["type"] == "WALK" %}
							<span class="product product-walk">🚶</span>
						{% elif leg["type"] == "JNY" %}
							{% if "S" in leg["name"] %}
								<span class="product product-sbahn">{{ leg["name"] }}</span>
							{% elif "B" in leg["name"] %}
								<span class="product product-bus">{{ leg["name"] }}</span>
							{% elif "RE" in leg["name"] %}
								<span class="product product-re">{{ leg["name"] }}</span>
							{% elif "U" in leg["name"] %}
								<span class="product product-u">{{ leg["name"] }}</span>
							{% else %}
								<span class="product product-unknown">{{ leg["name"] }}</span>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
				<!-- <div class="one column">test</div> -->
				<div class="two columns trip-duration">
					{{ trip["duration"] }}
				</div>
			</div>
		{% endfor %}
		<footer>
			<hr>
			Powered by VBB GmbH. Alle Angaben ohne Gewähr.
		</footer>
	</div>
</body>
</html>
